// fonts
$font_family: 'Inter', sans-serif;

// breakpoints
$breakpoint_md: 700px;
$breakpoint_lg: 992px;
$breakpoint_xl: 1200px;

// header heights
$height_header_sm: 50px;
$height_header_md: 70px;
$height_header_lg: 90px;
$height_header_xl: 120px;

// wrapper max-width
$max_width_wrapper_md: 600px;
$max_width_wrapper_lg: 900px;
$max_width_wrapper_xl: 1000px;